<div class = "flex flex-col items-center p-8">
    <h1 class="text-5xl p-8">Book a reservation at <%= @location.name%> </h1>
    
    <%= form_with url: location_reservations_path(@location) do |form|%>
        <%= form.label :reservation_date %>
        <%= form.datetime_field :reservation_date %>
        <%= form.submit "Check Date", class:"bg-green-500 text-green-50 p-2 rounded-lg"%>
    <% end %>
        
</div>
